{%extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block mainbody %}
<div class="container">

    <table class="sortable table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">品牌</th>
            <th scope="col">名称</th>
            <th scope="col">定价</th>
            <th scope="col">活动价</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.mark }}</td>
            <th><a href="{% url 'price:detail' item.id %}">{{ item.name }}</a></th>
            <td>{{ item.sale_price }}</td>
            <td>{{ item.promo_price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--{% if items.has_other_pages %}
    <ul class="pagination">
        {% if items.has_previous %}
        <li class="active"><a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="disabled"><a class="page-link"><span>Previous</span></a></li>
        {% endif %}
        {% for i in items.paginator.page_range %}
        {% if items.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
        </li>
        {% else %}
        <li class="active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
        <li class="active"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
        {% else %}
        <li class="disabled"><a class="page-link"><span>Next</span></a></li>
        {% endif %}
    </ul>
    {% endif %}-->

</div>

{% endblock %}

