{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block mainbody %}
<div class="container">
    <form action="/price/ticket/" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Submit">

    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker({
                dateFormat: "yy-mm-dd"
            });
      } );
      </script>
{% endblock %}